@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Murecho:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Varta:wght@300..700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}


:root {
    --btn-gradient1: linear-gradient(to right, #5735f9, #7f3cc2);
    --btn-gradient-rev: linear-gradient(to right, #7f3cc2, #5735f9);
}


#Navbar {
    height: 65px;
    width: 100%;
    background: white;
    z-index: 10;
    position: fixed;
    display: flex;
    box-shadow: 0px 0px 5px 0px #910cdf;
    justify-content: space-between;
}

.Logo img {
    height: 65px;
}

.Links-Section ul {
    display: flex;
    flex-direction: row;
}

.Links-Section li {
    padding: 0px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 10px;
    transition: .3s;

}

.Links-Section li a {
    color: #923be9;
    transition: .3s;
    border-radius: 20px;

}

.Links-Section li a:hover {
    color: white;
    background: var(--btn-gradient1);
    transition: .3s;
    padding: 7px 10px;
    border-radius: 20px;
}

.Links-Section li .active {
    color: white;
    background: var(--btn-gradient1);
    transition: .3s;
    padding: 7px 10px;
    border-radius: 20px;
}

.button {
    border: none;
    background: var(--btn-gradient1);
    color: white;
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 1.2rem;
    width: 20rem;
    transition: 0.3s ease-in-out;
}

.logout-button,
.Add-Quiz-button {
    border: none;
    background: var(--btn-gradient-rev);
    color: white;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    width: 10rem;
}


.button:hover,
.Add-Quiz-button:hover,
.logout-button:hover {
    background: var(--btn-gradient1);
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

/* 
===============================
? => Index Section 
===============================
*/


/*? Loign Page Css  */

.main-div-index {
    height: 100vh;
    width: 100%;
    box-shadow: #7f3cc2 1px 1px 12px;
}

.main-div-login {
    border-radius: 10px;
    box-shadow: 9px -9px 0px 2px #b2adff;
    padding: 0 5rem;
    background: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.Back-Btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    padding: 0 1rem;
}

.Back-Btn,
.Finish-Quiz-button {
    border: none;
    background: linear-gradient(to right, #dbddff, #f2e3ff);
    color: black;
    padding: 7px;
    border-radius: 20px;
    font-size: 0.9rem;
    width: 7rem;
    transition: 0.3s ease-in-out;
}

.Back-Btn:hover,
.Finish-Quiz-button:hover {
    background: linear-gradient(to right, #f5ebff, #edfff7);
    color: #7d35f9;
    scale: 1.03;
    box-shadow: 0px 0px 5px 0.2px #7d35f9;
    transition: .3s;
}

.main-div-login h3 {
    margin: 2rem;
}

.right-side {
    background-color: #f9f9f9;
}

.left-side {
    background: radial-gradient(#800ff1 25%, #3559f9);
    width: 35% !important;
}

.left-Img {
    height: 25rem;
}

.left-side p {
    margin: 1rem 0;
    max-width: 80%;
    font-size: 0.9rem;
    color: rgb(225, 225, 225);
}

.left-side h3 {
    font-size: 2.7rem;
    font-family: "Mochiy Pop One", sans-serif;
}

.user-name {
    text-transform: capitalize;
}


/*? First  Section  */


.div-box {
    height: calc(100vh - 65px);
}

.first-section {
    height: calc(100vh - 0px);
    padding: 0 8rem !important;
}


.leftSide h1,
p {
    max-width: 30rem;
    font-family: "Poppins", sans-serif;
}

.leftSide h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 900;
}

.Hero-btn {
    border: none;
    background: var(--btn-gradient-rev);
    ;
    color: white;
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    width: 10rem;
    margin-right: 12px;
}

.Hero-btn:hover {
    background: var(--btn-gradient1);
    scale: 1.05;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 1px 0.1px #7d35f9;
}

.Hero-btn2 {
    border: none;
    background: linear-gradient(to right, #dbddff, #f2e3ff);
    color: rgb(0, 0, 0);
    padding: 7px 10px;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.3s ease-in-out;
    width: 10rem;
    margin-right: 12px;
}

.Hero-btn2:hover {
    background: linear-gradient(to right, #f5ebff, #edfff7);
    color: #7d35f9;
    scale: 1.05;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 5px 0.2px #7d35f9;
}


.rightSide img {
    height: 32rem;
}


/*? Second  Section  */

.second-section {
    /* background: var(--btn-gradient1); */
    background: linear-gradient(to top, #fff 50%, #7d35f9 50%);
    height: 35rem;
    margin: 2rem 0;

}

.card-container {
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background: linear-gradient(to top, #7f3cc2, #5735f9);
    padding: 30px 0;
}


.card {
    padding: 12px 10px;
    background: linear-gradient(to top, #5735f9 50%, #fff 50%);
    text-align: center;
    max-width: 20rem;
    margin: 0 1rem;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: -6px -5px 0px 1px mediumslateblue;

}


.card .img img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.card p {
    font-size: 0.9rem;
    color: #e6e6e6;
    margin: 1rem;
}

.card .card-btn {
    background: var(--btn-gradient1);
    border: none;
    padding: 6px 18px;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0px 0px 5px 0.2px white;
    transition: .3s;
}

.card .card-btn:hover {
    background: linear-gradient(to right, #f5ebff, #edfff7);
    color: #7d35f9;
    scale: 1.05;
    box-shadow: 0px 0px 5px 0.2px #7d35f9;
    transition: .3s;
}


/*? Third Section  */

.third-section {
    height: 25rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.steps {
    margin: 2rem 0;
}

.steps .step img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 0.8rem;
}

.steps {
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

/*? fourth-section  */
.fourth-section {
    background: url(../Images/card.webp) center center / cover no-repeat;
    height: 25rem;
    background-size: 50rem;
    position: relative;
    background-attachment: fixed;
    /* margin: 2rem 0; */
    margin-top: 2rem;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #8000ffb2, #2b00ffa9);

}

.fourth-section .overlay-text h1 {
    color: white;
    z-index: 2;
    text-align: center;
    margin-bottom: 1rem;
}

.fourth-section .overlay-text h5 {
    color: #e4e4e4;
    text-align: center;
    z-index: 2;
}

.fourth-section .overlay-text p {
    color: white;
    z-index: 2;
}

.fourth-section a {
    z-index: 2;
}

.Get-Started-Btn {
    border: none;
    background: linear-gradient(to right, #dbddff, #f2e3ff);
    color: black;
    padding: 12px 0px;
    border-radius: 20px;
    font-size: 1.1rem;
    width: 20rem;
    transition: 0.3s ease-in-out;
    max-width: 15rem;
    margin-bottom: 1rem;

}

.Get-Started-Btn:hover {
    background: linear-gradient(to right, #f5ebff, #edfff7);
    color: #7d35f9;
    scale: 1.03;
    box-shadow: 0px 0px 5px 0.2px #7d35f9;
    transition: .3s;
}


/*? Fifth Section */

.fifth-section {
    height: 40rem;
}

.fifth-section-div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.fifth-section-div .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fifth-section-div .right img {
    width: 31rem;
    border-radius: 10px;
    box-shadow: 3px -3px 1px 3px #8822f8;
}

.fifth-section-div .left p {
    color: #535353;
}

.fifth-section-div .left h1 {
    width: 95%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/*? Footer Section  */

.footer {
    background: #f6f2ff;
    height: 25rem;
    padding: 5rem 0;
    position: relative;
}

.footer-logo {
    width: 18rem;
    margin-right: 2rem;
    padding: 1rem 0rem;
}

.footer-logo img {
    height: 60px;
    margin-bottom: 1rem;
}

.Explore,
.Find-Yours,
.social-links {
    margin-right: 2rem;
    padding: 1rem 0rem;
}

.social-links .links a {
    font-size: 2rem;
}

.social-links .links {
    margin: 1.2rem 0;
}

.footer-div a {
    list-style: none;
    text-decoration: none;
    color: black;
    transition: .2s;

}

.footer-div a:hover {
    color: #7d35f9;
    transition: .2s;
}

.footer-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}


/* 
===============================
? => Admin Dashboard Section
===============================
*/

.Main-Admin-Dashboard-Section {
    padding-top: 120px;
}

.Add-Quiz-button,
.Finish-Quiz-button {
    margin: 1rem 0;
}

.Add-Quiz-button {
    margin-right: 1rem;
}

.Main-Admin-Dashboard-Section .Question-h1 {
    background: linear-gradient(45deg, #5009d0, transparent);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.Main-Admin-Dashboard-Section .Details-h1 {
    background: var(--btn-gradient-rev);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.8rem;
}

.Main-Admin-Dashboard-Section h5 {
    display: inline-block;
    padding: 7px 25px;
    background: linear-gradient(to right, #f1f2ff, #f6eefd);
    border-radius: 7px;
    color: #8801ee;
    box-shadow: 0px 0px 2px 0.1px #7d35f9
}


.Main-Admin-Dashboard-Section .options label {
    background: linear-gradient(to right, #f1f2ff, #f6eefd);
    padding: 9px 10px;
    color: black;
    border-radius: 8px;
}

.Main-Admin-Dashboard-Section .options select {
    padding: 7px 12px;
    background: linear-gradient(to right, #f1f2ff, #f6eefd);
    border-radius: 7px;
    color: #8801ee;
    border: none;
    outline: 2px solid #a176ff;
}


/* 
===============================
? => Student Dashboard Section
===============================
*/

.Quizes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.Quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 2rem 3rem;
    margin: 1rem;
    border-radius: 15px;
    min-width: 25rem;
}


.Participate-Btn {
    border: none;
    background: linear-gradient(to right, #dbddff, #f2e3ff);
    color: black;
    padding: 12px 0px;
    border-radius: 20px;
    font-size: 1.1rem;
    width: 20rem;
    transition: 0.3s ease-in-out;
    max-width: 15rem;
    margin-bottom: 1rem;
}


.Participate-Btn:hover {
    background: linear-gradient(to right, #f5ebff, #edfff7);
    color: #7d35f9;
    scale: 1.03;
    box-shadow: 0px 0px 5px 0.2px #7d35f9;
    transition: .3s;

}

.results {
    margin-left: 1rem;
    padding: 27px 14px;
    border-right: 2px solid #ab0df0;
}

.results h1 {
    background: linear-gradient(45deg, #8213d3, #1121e4);
    color: white;
    font-size: 2.2rem;
    padding: 3px 12px;
    border-radius: 10px;
}


/* 
============================
? => Responsive Code :- 
============================
*/


@media (max-width:1250px) {


    .second-section {
        height: fit-content;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        background: linear-gradient(to left, #7f3cc2, #9126fd);
        margin: 1rem;
    }

    .card {
        margin: 1rem 0;
    }

    .card:last-child {
        left: 50%;
    }

    .main-div-login {
        padding: 0 2rem;
        max-height: 35rem;
    }

    .main-div-index .left-side {
        width: 40% !important;
    }


}

@media (max-width:1160px) {

    #Navbar {
        margin-top: -3rem;
    }

    .first-section {
        height: calc(90vh - 0px);
        padding: 0 4rem !important;
        margin: 3rem 0;
    }

    .rightSide img {
        height: 25rem;
    }

    .leftSide h1 {
        font-size: 2rem;
    }

    .Hero-btn {
        padding: 5px 8px;
        width: 8rem;
        font-size: 0.9rem;
        margin-right: 6px;
    }

    .Hero-btn2 {
        padding: 5px 8px;
        width: 8rem;
        font-size: 0.9rem;
        margin-right: 6px;
    }

    .fifth-section-div .right img {
        height: 17rem;
        width: 25rem;
    }

    .fifth-section-div .left h1 {
        font-size: 2.1rem;
    }
}



@media (max-width:1070px) {

    .leftSide p {
        max-width: 20rem;
        font-size: 0.9rem;
    }

    .third-section {
        height: fit-content;
    }

    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .step {
        margin: 1rem 0;
    }

    .step:last-child {
        position: relative;
        left: 50%;
    }

}

@media (max-width:900px) {

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        background: linear-gradient(to left, #7f3cc2, #9021ff);
        margin: 1rem;
    }

    .card-container {
        padding: 0 1rem !important;
    }

    .card:last-child {
        left: 0%;
    }

    .steps {
        grid-template-columns: repeat(1, 1fr);
    }

    .step:last-child {
        position: relative;
        left: 0%;
    }

    .fifth-section-div .right img {
        height: 12rem;
        width: 18rem;
    }

    .fifth-section-div .left h1 {
        font-size: 1.5rem;
    }

    .fifth-section-div .left p {
        font-size: 0.8rem;
    }

    .Get-Started-Btn {
        padding: 9px 0px;
        border-radius: 10px;
        font-size: 0.9rem;
        width: 8rem;
    }

    .fourth-section .Get-Started-Btn {
        padding: 9px 10px;
        border-radius: 10px;
        font-size: 0.9rem;
        width: fit-content;
    }

    .footer {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .footer-div {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 0px;
    }

    .Find-Yours {
        margin-right: 12rem;
    }

    .footer-div p {
        font-size: 0.9rem;
        max-width: 17rem;
    }

    .footer-div a {
        font-size: 0.9rem;
    }

    .footer {
        height: fit-content;
    }

    .main-div-index .left-Img {
        height: 20rem;
    }

    .main-div-index .left-side .left-text {
        padding: 0 1rem !important;
    }

    .main-div-login h3 {
        margin: 1rem;
    }

    .main-div-login {
        padding: 0 1rem;
        max-height: 30rem;
    }
}

@media (max-width:850px) {

    .logout-button {
        width: 7rem;
    }

    .rightSide img {
        height: 23rem;
    }

    .leftSide h1 {
        font-size: 1.7rem;
    }

    .Hero-btn {
        width: 7rem;
        font-size: 0.8rem;
    }

    .Hero-btn2 {
        width: 7rem;
        font-size: 0.8rem;
    }

    .leftSide p {
        max-width: 17rem;
        font-size: 0.7rem;
    }

}


@media (max-width:768px) {

    .first-section-div {
        flex-direction: column;
    }

    .first-section .leftSide {
        width: 100% !important;
        margin-top: 5rem;
    }

    .first-section .rightSide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fifth-section-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .fifth-section-div .left p {
        width: 60%;
    }

    .Links-Section ul {
        display: none;
    }

    .card {
        max-width: 17rem;
    }

    .card .img img {
        height: 150px;
        width: 235px;
    }

    .third-section {
        padding: 0 1rem !important;
    }

    .third-section h1 {
        font-size: 2.1rem;
    }

    .third-section h4 {
        font-size: 1.2rem;
    }

    .fourth-section .overlay-text h1 {
        font-size: 2rem;
    }

    .fourth-section .overlay-text h5 {
        font-size: 1rem;
    }
    
    .main-div-index .left-side {
        display: none !important;
    }

    .main-div-index .right-side {
        background: var(--btn-gradient-rev);
    }
     
    .LoginBtn {
        background: white;
        color: #770fea;
        font-weight: 500;
        box-shadow: 0px 0px 1px 2px inset #7f11f9;
        padding: 12px 15px;
        border-radius: 10px;
    }

    .LoginBtn:hover{
        color: white;
    }
}


@media (max-width:578px) {

    #Navbar {
        padding: 0 1rem !important;
    }

    .Logo img {
        height: 55px;
    }

    .first-section .leftSide {
        width: 100% !important;
        margin-top: 0rem;
    }

    .footer-div {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 0px;
        place-items: baseline;
    }

    .footer {
        padding: 0 2rem !important;
    }

    .rightSide img {
        height: 18rem;
    }

    .first-section {
        height: fit-content;
        padding: 15px 1rem !important;
    }

    .second-section {
        padding: 0 1rem !important;
    }

    .third-section h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .third-section h4 {
        font-size: 1rem;
        text-align: center;
    }

    .fourth-section .overlay-text h1 {
        font-size: 1.6rem;
        min-width: 24rem;
    }

    .fourth-section .overlay-text h5 {
        font-size: 0.8rem;
    }

    .fourth-section .Get-Started-Btn {
        padding: 7px 7px;
        border-radius: 7px;
        font-size: 0.7rem;
    }

    .fifth-section {
        height: 40rem;
        padding: 0 1rem !important;
    }

    .fifth-section-div .left p {
        width: 75%;
    }

    .fifth-section-div {
        padding: 0 1rem !important;
    }

    .fifth-section-div .right img {
        height: 10rem;
        width: 15rem;
    }

    .main-div-login {
        padding: 0 1.5rem;
        max-height: 25rem;
        box-shadow: 5px -5px 0px 1px #b2adff;
    }

    .main-div-index .right-side {
        padding: 1rem !important;
    }

    .main-div-login h3 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }

    .main-div-index .form-group {
        margin-bottom: 0.5rem;
    }

    .main-div-login .button {
        width: 5rem;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 1rem;
    }


    .Back-Btn {
        border: none;
        padding: 4px;
        font-size: 0.7rem;
        width: 4rem;
    }

}

@media (max-width:400px) {

    #Navbar {
        height: 55px;
    }

    .Logo img {
        height: 45px;
    }

    .logout-button {
        width: 4.3rem;
        border-radius: 7px;
        font-size: 0.8rem;
        padding: 4px 2px;
    }

    .first-section .leftSide h1 {
        font-size: 1.5rem;
    }

    .first-section .leftSide p {
        font-size: 0.6rem;
    }

    .fifth-section .rightSide img {
        height: 15rem;
    }

    .Hero-btn,
    .Hero-btn2 {
        width: 8rem;
        margin-bottom: 0.6rem;
        padding: 5px 3px !important;
        font-size: 0.9rem;
        border-radius: 7px;
    }

    .third-section h1 {
        font-size: 1.4rem;
    }

    .third-section h4 {
        font-size: 0.9rem;
        color: rgb(141, 34, 241);
    }

    .third-section-div {
        padding: 0 1rem !important;
    }

    .fourth-section {
        height: 14rem;
    }

    .fourth-section .overlay-text h1 {
        font-size: 1.2rem;
        min-width: 15.5rem;
        margin-bottom: 0.3rem;
    }

    .fourth-section .Get-Started-Btn {
        padding: 6px 6px;
        border-radius: 7px;
        font-size: 0.7rem;
        margin-bottom: 0.2rem;
    }

    .fourth-section .overlay-text h5 {
        width: 12rem;
        font-size: 0.6rem;
    }

    .fourth-section .overlay-text p {
        text-align: center;
        font-size: 0.6rem;
    }

    .fifth-section {
        height: fit-content;
        margin: 3rem 0;
    }

    .fifth-section-div .right img {
        height: 8rem;
        width: 12rem;
    }

    .fifth-section-div .left h1 {
        font-size: 1.3rem;
    }

    .fifth-section .Get-Started-Btn {
        padding: 8px 0px;
        border-radius: 7px;
        font-size: 0.8rem;
        width: 7rem;
    }

    .card {
        max-width: 14rem;
    }

    .card .card-btn {
        padding: 4px 12px;
        font-size: 0.7rem;
    }

    .card .img img {
        height: 120px;
        width: 170px;
    }

    .card p {
        font-size: 0.7rem;
        color: #e6e6e6;
        margin: 0.9rem;
    }

    .footer-div p {
        max-width: 80%;
    }

    .footer-logo {
        width: fit-content;
        width: 14rem;
    }

    .footer-div p {
        font-size: 0.75rem;
    }

    .footer-div h5 {
        width: 8rem;
    }

    .social-links .links a {
        font-size: 1.8rem;
    }

    .social-links .links {
        margin: 0.4rem 0;
    }

    .quizBtns{
        flex-direction: column;
    }

    .steps .step img{
        box-shadow: 0px 0px 3px 0px #e7d8ff;
    }

}